* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: auto;
    border: 1px solid black;
    height: 100%;
}

header {
    background-color: red;
    height: 300px;
    padding-top: 100px;
}

/*************** inizio header top */

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    /* width: 10% */
}

nav a {
    display: inline-block;
    color: #33465A;
    text-decoration: none;
    height: 50px;
    line-height: 90px;
    padding: 0 15px;
}

.dropdown-item::after {
    content: "▼";
    margin-left: 5px;
    color: #7D97B6;
}

.fa-globe {
    color: #33465A;
}

.fa-ellipsis-v {
    color: #7D97B6;
}

.header-top {
    text-decoration: none;
    background-color: #F5F8FA;
    height: 100px;
/* position fixed e width da ripristinare al termine */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.search-button {
    width: 50%;
    /* background-color: yellow; */
    padding-top: 30px;
    text-align: right;

}

.float-left {
    float: left;
}

i.fa-search{
    color: #05A3BD;
    padding-right: 10px;
}

.search-login {
    /* position: absolute; */
    /* top: 0px;
    right: 0px; */
    background-color: #F5F8FA;
    color: #FF7A59;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    padding: 10px;
    width: 14%;
}

.search-login:hover {
    background-color: #FFF0EE;
}

.search-get:hover {
    background-color: #FFBCAC;
}

.search-get {
    /* position: absolute; */
    /* top: 0px;
    right: 0px; */
    background-color: #FF7A59;
    color: #F5F8FA;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    padding: 10px;
    width: 25%;
}

.menu-left {
    /* background-color: pink; */
    width: 50%;
}
/*************** fine header top */

/*************** inizio header middle */

.header-middle {
    background-color: #FFFFFF;
    height: 100px;
    text-decoration: none;
}

.logo-left {
    /* background-color: pink; */
    width: 50%;
    padding-top: 30px;
    float: left;
}

.list-right {
    float: right;
    /* background-color: yellow; */
    width: 50%;
    height: 80px;
    padding-bottom: 40px;
    padding-top: 50;
}

.logo-hubspot {
    width: 110px;
}
/*************** fine header middle */
/*************** inizio header bottom */
.header-bottom {
    background-color: #425B76;
    height: 100px;
    text-decoration: none;
}

.w-text {
    width: 100%;
    line-height: 25px;
}

.white-text{
    color: white;
    font-size: 16px;
}

.white-linked-text{
    text-decoration: underline;
    color: white;
    font-size: 16px
}

section#box1 {
    background-color: #FFF2EE;
    height: 500px;
}

/*************** fine header bottom */
