* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: auto;
    border: 1px solid black;
    height: 100%;
}

header {
    background-color: red;
    height: 300px;
    padding-top: 100px;
}

/*************** inizio header top */

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    /* width: 10% */
}

nav a {
    display: inline-block;
    color: #33465A;
    text-decoration: none;
    height: 50px;
    line-height: 90px;
    padding: 0 15px;
}

.dropdown-item::after {
    content: "▼";
    margin-left: 5px;
    color: #7D97B6;
}

.fa-globe {
    color: #33465A;
}

.fa-ellipsis-v {
    color: #7D97B6;
}

.header-top {
    text-decoration: none;
    background-color: #F5F8FA;
    height: 100px;
/* position fixed e width da ripristinare al termine */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.search-button {
    width: 50%;
    /* background-color: yellow; */
    padding-top: 30px;
    text-align: right;

}

.float-left {
    float: left;
}

i.fa-search{
    color: #05A3BD;
    padding-right: 10px;
}

.search-login {
    /* position: absolute; */
    /* top: 0px;
    right: 0px; */
    background-color: #F5F8FA;
    color: #FF7A59;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    padding: 10px;
    width: 14%;
}

.search-login:hover {
    background-color: #FFF0EE;
}

.search-get:hover {
    background-color: #FFBCAC;
}

.search-get {
    /* position: absolute; */
    /* top: 0px;
    right: 0px; */
    background-color: #FF7A59;
    color: #F5F8FA;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    padding: 10px;
    width: 25%;
}

.menu-left {
    /* background-color: pink; */
    width: 50%;
}
/*************** fine header top */

/*************** inizio header middle */

.header-middle {
    background-color: #FFFFFF;
    height: 100px;
    text-decoration: none;
}

.logo-left {
    /* background-color: pink; */
    width: 50%;
    padding-top: 30px;
    float: left;
}

.list-right {
    float: right;
    /* background-color: yellow; */
    width: 50%;
    height: 80px;
    padding-bottom: 40px;
    padding-top: 50;
}

.logo-hubspot {
    width: 110px;
}
/*************** fine header middle */

/*************** inizio header bottom */
.header-bottom {
    background-color: #425B76;
    height: 100px;
    text-decoration: none;
}

.w-text {
    width: 100%;
    line-height: 25px;
}

.white-text{
    color: white;
    font-size: 16px;
}

.white-linked-text{
    text-decoration: underline;
    color: white;
    font-size: 16px
}

.white-linked-text:hover {
    color: #7FD1DE;
}

/*************** fine header bottom */

/*************** inizio better way */

section#better-way {
    background-color: #FFF2EE;
    height: 600px;
}

.box-content {
    width: 40%;
    color: #33465A;
    text-decoration: none;
    /* line-height: 150px; */
    padding-top: 70px;
}




.payoff {
    line-height: 50px;
    font-size: 40px;
    display: inline-block;
    padding-bottom: 20px;
}

.box-text {
    line-height: 30px;
    font-size: 16px;
    display: inline-block;
    padding-bottom: 20px;
}

/* .float-left2 {
    float: left;
} */

.search-get2:hover {
    background-color: #FFBCAC;
}

.search-button2 {
    padding-bottom: 20px;
}

.search-get2 {
    background-color: #FF7A59;
    color: #F5F8FA;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    padding: 25px;
    font-size: 18px;
    /* width: 100%; */
}

.getstarted {
    text-align: left;
    display: inline-block;
    float: left;
}
/*************** fine better way */

/*************** inizio powerdul alone */

section#powerful-alone {
    background-color: #F5F8FA;
    height: 1000px;
}

.powerful-row {
    width: 100%;
    height: 48%;
    /* background-color: pink; */
    /* padding: 10px; */
    /* position: relative; */
}


.better-together {
    width: 32%;
    height: 100%;
    /* padding-right: 10px; */
    margin: 1% 1% 1% 1%;
    float:left;
    border: 1px solid #F5F8FA;
    background-color: #F5F8FA;
    text-align: left;
}

.better-titolo{
    font-size: 35px;
    color: #33465A;

    line-height: 50px;
    display: inline-block;
    padding-bottom: 20px;
}

.better-testo{
    font-size: 16px;
    color: #33465A;

    line-height: 30px;
    display: inline-block;
    padding-bottom: 20px;
}

.free-hubspot {
    width: 32%;
    height: 100%;
    float:left;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.fa-dot-circle {
    color: #33465A;
}

.free-titolo {
    font-size: 25px;
    color: #33465A;
    line-height: 30px;
    display: inline-block;
    padding: 30px;
}

.free-testo {
    padding: 20px;
    font-size: 14px;
    color: #33465A;
    line-height: 20px;
    display: inline-block;
    padding-bottom: 10px;
}

.free-titolo-lista {
    padding: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #33465A;
    /* line-height: 20px; */
    display: inline-block;
    padding-bottom: 10px;

}
.free-lista {
    padding: 20px;
    font-size: 14px;
    color: #33465A;
    line-height: 20px;
    /* display: inline-block; */
    padding-bottom: 30px;
    list-style: none;
}

.fa-check-circle {
    color: #FF7A59;
}

.search-free-crm:hover {
    background-color: #FFBCAC;
}

.search-free {
    padding-left: 70px;
}

.search-free-crm {
    background-color: #FF7A59;
    color: #F5F8FA;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    width: 80%;
}

.cms-hub {
    width: 32%;
    height: 100%;
    float:left;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.fa-circle-notch {
    color: #33465A;
}

.cms-titolo {
    font-size: 25px;
    color: #33465A;
    line-height: 30px;
    display: inline-block;
    padding: 30px;
}

.cms-testo {
    padding: 20px;
    font-size: 14px;
    color: #33465A;
    line-height: 20px;
    display: inline-block;
    padding-bottom: 10px;
}

.cms-titolo-lista {
    padding: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #33465A;
    /* line-height: 20px; */
    display: inline-block;
    padding-bottom: 10px;

}
.cms-lista {
    padding: 20px;
    font-size: 14px;
    color: #33465A;
    line-height: 20px;
    /* display: inline-block; */
    padding-bottom: 30px;
    list-style: none;
}

.search-cms-get:hover {
    background-color: #FFBCAC;
}

.search-cms {
    padding-left: 70px;
}

.search-cms-get {
    background-color: #FF7A59;
    color: #F5F8FA;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    width: 80%;
}





.marketing-row {
    width: 100%;
    height: 48%;
    /* background-color: pink; */
    /* padding: 10px; */
    /* position: relative; */
}

.marketing-hub {
    width: 32%;
    height: 100%;
    /* padding-right: 10px; */
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    float:left;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.fa-stumbleupon-circle {
    color: #33465A;
}

.marketing-titolo {
    font-size: 25px;
    color: #33465A;
    line-height: 30px;
    display: inline-block;
    padding: 30px;
}

.marketing-testo {
    padding: 20px;
    font-size: 14px;
    color: #33465A;
    line-height: 20px;
    display: inline-block;
    padding-bottom: 10px;
}

.marketing-titolo-lista {
    padding: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #33465A;
    /* line-height: 20px; */
    display: inline-block;
    padding-bottom: 10px;

}
.marketing-lista {
    padding: 20px;
    font-size: 14px;
    color: #33465A;
    line-height: 20px;
    /* display: inline-block; */
    padding-bottom: 30px;
    list-style: none;
}

.search-marketing-get:hover {
    background-color: #FFBCAC;
}

.search-marketing {
    padding-left: 70px;
}

.search-marketing-get {
    background-color: #FF7A59;
    color: #F5F8FA;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    width: 80%;
}



.sales-hub {
    width: 32%;
    height: 100%;
    /* padding-right: 10px; */
    float:left;
    margin-right: 1%;
    margin-bottom: 1%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}


.fa-gg-circle {
    color: #33465A;
}

.sales-titolo {
    font-size: 25px;
    color: #33465A;
    line-height: 30px;
    display: inline-block;
    padding: 30px;
}

.sales-testo {
    padding: 20px;
    font-size: 14px;
    color: #33465A;
    line-height: 20px;
    display: inline-block;
    padding-bottom: 10px;
}

.sales-titolo-lista {
    padding: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #33465A;
    /* line-height: 20px; */
    display: inline-block;
    padding-bottom: 10px;

}
.sales-lista {
    padding: 20px;
    font-size: 14px;
    color: #33465A;
    line-height: 20px;
    /* display: inline-block; */
    padding-bottom: 30px;
    list-style: none;
}

.search-sales-get:hover {
    background-color: #FFBCAC;
}

.search-sales {
    padding-left: 70px;
}

.search-sales-get {
    background-color: #FF7A59;
    color: #F5F8FA;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    width: 80%;
}




.service-hub {
    width: 32%;
    height: 100%;
    float:left;
    margin-bottom: 1%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.fa-spinner {
    color: #33465A;
}

.service-titolo {
    font-size: 25px;
    color: #33465A;
    line-height: 30px;
    display: inline-block;
    padding: 30px;
}

.service-testo {
    padding: 20px;
    font-size: 14px;
    color: #33465A;
    line-height: 20px;
    display: inline-block;
    padding-bottom: 10px;
}

.service-titolo-lista {
    padding: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #33465A;
    /* line-height: 20px; */
    display: inline-block;
    padding-bottom: 10px;

}
.service-lista {
    padding: 20px;
    font-size: 14px;
    color: #33465A;
    line-height: 20px;
    /* display: inline-block; */
    padding-bottom: 30px;
    list-style: none;
}

.search-service-get:hover {
    background-color: #FFBCAC;
}

.search-service {
    padding-left: 70px;
}

.search-service-get {
    background-color: #FF7A59;
    color: #F5F8FA;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    padding: 10px;
    margin-left: 60px;
    font-size: 18px;
    width: 70%;
}
/*************** fine powerful alone */

/*************** inizio learn-and-go */

section#learn-and-go {
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    height: 600px;
}

.learn-row {
    width: 100%;
    height: 33%;
    /* background-color: pink; */
}

.learn-title-content {
    text-align: center;
    color: white;
    padding-top: 15px;
    margin: 0 15%;
}

.learn-title {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 10px;
}

.learn-content {
    font-size: 16px;
    line-height: 20px;
}

/* griglia 1 */

.griglia-row1 {
    width: 100%;
    height: 33%;
    /* background-color: grey; */
}

.hubspot-user {
    width: 25%;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
    float:left;
    /* margin-right: 1%;
    margin-bottom: 1%; */
    border-bottom: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    /* background-color: pink; */
}

.prima-icona {
    font-size: 40px;
    line-height: 40px;
}

.user-titolo {
    font-size: 50px;
    line-height: 70px;
}

.hubspot-monthly {
    width: 25%;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
    float:left;
    /* margin-right: 1%;
    margin-bottom: 1%; */
    border-bottom: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    /* background-color: pink; */
}

.seconda-icona {
    font-size: 40px;
    line-height: 40px;
}

.monthly-titolo {
    font-size: 50px;
    line-height: 70px;
}

.hubspot-certified {
    width: 25%;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
    float:left;
    /* margin-right: 1%;
    margin-bottom: 1%; */
    border-bottom: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    /* background-color: pink; */
}

.terza-icona {
    font-size: 40px;
    line-height: 40px;
}

.certified-titolo {
    font-size: 50px;
    line-height: 70px;
}

.hubspot-registered {
    width: 25%;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
    float:left;
    /* margin-right: 1%;
    margin-bottom: 1%; */
    border-bottom: 2px solid #FFFFFF;
    /* border-right: 2px solid #FFFFFF; */
    /* background-color: pink; */
}

.quarta-icona {
    font-size: 40px;
    line-height: 40px;
}

.registered-titolo {
    font-size: 50px;
    line-height: 70px;
}

/* griglia 2 */

.griglia-row2 {
    width: 100%;
    height: 33%;
    /* background-color: pink; */
}

.hubspot-integrations {
    width: 25%;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
    float:left;
    /* margin-right: 1%;
    margin-bottom: 1%; */
    /* border-bottom: 2px solid #FFFFFF; */
    border-right: 2px solid #FFFFFF;
    /* background-color: pink; */
}

.seconda-icona {
    font-size: 40px;
    line-height: 40px;
}

.integrations-titolo {
    font-size: 50px;
    line-height: 70px;
}

.hubspot-languages {
    width: 25%;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
    float:left;
    /* margin-right: 1%;
    margin-bottom: 1%; */
    /* border-bottom: 2px solid #FFFFFF; */
    border-right: 2px solid #FFFFFF;
    /* background-color: pink; */
}

.sesta-icona {
    font-size: 40px;
    line-height: 40px;
}

.languages-titolo {
    font-size: 50px;
    line-height: 70px;
}

.hubspot-social {
    width: 25%;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
    float:left;
    /* margin-right: 1%;
    margin-bottom: 1%; */
    /* border-bottom: 2px solid #FFFFFF; */
    border-right: 2px solid #FFFFFF;
    /* background-color: pink; */
}

.settima-icona {
    font-size: 40px;
    line-height: 40px;
}

.social-titolo {
    font-size: 50px;
    line-height: 70px;
}

.hubspot-customers {
    width: 25%;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
    float:left;
    /* margin-right: 1%;
    margin-bottom: 1%; */
    /* border-bottom: 2px solid #FFFFFF; */
    /* border-right: 2px solid #FFFFFF; */
    /* background-color: pink; */
}

.ottava-icona {
    font-size: 40px;
    line-height: 50px;
}

.customers-titolo {
    font-size: 50px;
    line-height: 80px;
}
/*************** fine learn-and-go */

/* ************* inizio  sezione labels */
section#labels {
    background-color: #FFFFFF;
    height: 900px;
}

.row-labels1 {
    width: 100%;
    height: 50%;
    /* background-color: pink; */
}

.labels-text {
    width: 35%;
    height: 100%;
    float:left;
    /* background-color: grey; */
}

.labels-titolo {
    font-size: 50px;
    line-height: 50px;
    color: #33465A;
    padding-top: 70px;
}

.labels-contenuto {
    color: #33465A;
    line-height: 30px;
    padding-top: 15px;
}

.labels-img {
    width: 100%;
    height: 100%;
}

.lab-img-1 {
    /* background-color: blue; */
    width: 100%;
    height: 50%;
}

img.iconcine {
    width: 140px;
    margin-top: 40px;
    margin-left: 40px;
}

.lab-img-2 {
    /* background-color: green; */
    width: 100%;
    height: 50%;
}



.row-labels2 {
    width: 100%;
    height: 50%;
    /* background-color: coral; */
}


.start-growing {
    width: 100%;
    height: 100%;
    /* line-height: 150px; */
    /* padding-top: 30px; */
    /* background-color: blue; */
}

.growing-box1{
    width: 35%;
    height: 100%;
    padding-top: 50px;
    /* background-color: red; */
}


.growing-title {
    line-height: 40px;
    font-size: 30px;
    /* display: inline-block; */
    padding-bottom: 20px;
    color: #33465A;
}

.growing-text {
    line-height: 30px;
    font-size: 16px;
    /* display: inline-block; */
    padding-bottom: 20px;
    color: #33465A;
}

.search-get2:hover {
    background-color: #FFBCAC;
}

.search-button2 {
    padding-bottom: 15px;
}

.search-get2 {
    background-color: #FF7A59;
    color: #F5F8FA;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    padding: 25px;
    font-size: 18px;
    /* width: 100%; */
}


.growing-getstarted {
    text-align: left;
    /* display: inline-block; */
    float: left;
}

.labels-text {
    width: 35%;
    height: 100%;
    float:left;
    /* background-color: grey; */
}


/************** inizio footer */
/************** fine footer */
